/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ------------------------------ */
/* ---------NAVBAR----------- */
/* ------------------------------ */


header {
    background-color: #4C47F6;
    color: #ffffff;
    width: 100%;
    overflow: hidden;
}



.logo {
    display: inline-block;
    margin-left: 6%;
    margin-top: 3rem;
}


nav {
    float: right;
    margin-top: 1.5rem;
    margin-right: 3%;
}

.nav-item {
    display: inline-block;
    margin: 0 1rem;
    font-size: 0.9rem;
    color: #DFD8FC;
}

.nav-item-active {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
    background-color: #ffffff;
    color: #000000;
}

.header-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.header-text {
    width: 94%;
    margin-left: 6%;
    margin-top: 4rem;
    padding-bottom: 8rem;
}

.header-text h2 {
    font-size: 2.7rem;
    margin-bottom: 1rem;
    color:#DFD8FC;
}

.header-text p {
    font-size: 0.9rem;
    color: #DFD8FC;
    
}

.header-image {
    position: absolute;
    right: 0%;
    top: 8%;
}

.header-image img {
    display: inline-block;
    width: 40rem;
}




/* ------------------------------ */
/* ---------COMPANIES-SECTION----------- */
/* ------------------------------ */

.companies {
    margin-left: 6%;
}

.company-items {
    font-family: 'Righteous';
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    margin: 2rem;
}

.company-items:first-child {
    margin-left: 0;
}






/* ------------------------------ */
/* ---------API-SECTION----------- */
/* ------------------------------ */


.api {
    width: 88%;
    margin: 6rem auto;
}

.api-heading {
    font-family: 'Righteous';
    margin-bottom: 2rem;
}

.slide-icon i {
    display: inline-block;
    padding: 0.5rem 0.6rem;
    background-color: #5E48F6;
    border:none;
    border-radius: 50%;
    color:#ffffff;
    margin-top: 8rem;
    text-align: center;
}


.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 3rem 2rem;;
}

.card-head{
     margin-top: 1rem;
     margin-bottom: 0.5rem;
    
}

.card-head-active {
    margin-top: 1rem;
     margin-bottom: 0.5rem;
}

.card-active {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    
}

.card-logo-active, .card-head-active {
    color: #5E48F6;
}



/* ------------------------------ */
/* ---------BLOG-SECTION----------- */
/* ------------------------------ */

.blog-cards {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.blog-card {
    display: flex;
    width: 48%;
    margin: 0 auto;
    
}

.blog-heading {
    margin-left: 6%;
    margin-bottom: 2rem;
}

.blog-heading h1 {
    font-family: 'Righteous';
    
}

.blog-data {
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 3rem;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    height: 100%;

}

.blog-image img {
    display: inline-block;
    height: 100%;
}

.blog-content h6 {
    color: #5E48F6;
}

.blog-content h3 {
    font-family: 'Righteous';
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

.blog-bottom {
    position: absolute;
    bottom: -1.5rem;
}

.blog-author {
    display: block;
    position: absolute;
    bottom: 0.4rem;
    left: 7rem;
    width: 50%;
}






/* ------------------------------ */
/* ---------FAQ-SECTION----------- */
/* ------------------------------ */

.faq-section {
    display: flex;
    margin-top:4rem;
    justify-content: space-between;
    background-color: #E9EDFD;
}

.faq-content {
    margin-left: 6%;
    margin-top: 3rem;
    height:100%
}


.faq-image img {
    width:100%;
    height:100%;
}

.faq-content h2 {
    font-family: 'Righteous';
    font-size: 2rem;
    margin-bottom: 1rem;
}

.faq-content h4:nth-child(3) {
       font-size: 1.3rem;
       margin-top: 1.3rem;
       margin-bottom: 1.3rem;
}

.faq-content button {
    display: inline-block;
    padding: 0.5rem 1.2rem;
    border: none;
    color: #ffffff;
    background-color: #7954F6;

}





/* ------------------------------ */
/* ---------DOWNLOAD-SECTION----------- */
/* ------------------------------ */

.download-section {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 6rem auto;
   
}

.download-email input {
    padding: 0.5rem 3rem;
    padding-right: 7rem;
    border-radius: 1rem;
    border: none;
    background-color: #E9EDFD
}

.download-content h1 {
    font-family: 'Righteous';
}

.download-content h1 span {
    font-family: "Poppins", sans-serif;
}

.download-email button {
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: #5E48F6;
    color: #ffffff;
    border-radius: 2rem;
    border: none
}




/* ------------------------------ */
/* ---------FOOTER-SECTION----------- */
/* ------------------------------ */

.footer-section {
    background-color: #5E48F6;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    margin-left: 6%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.footer-left .list {
        display: flex;
        list-style: none;
        margin-top: 2rem;
}

.footer-left .list li {
    display: inline-block;
    color: #DFD8FC;
    margin-right: 1rem;
}


.footer-right {
    margin-right: 6%;
    padding-left: 2rem;
}

.footer-logos {
    margin-top: 4rem;
}

.footer-logo {
    display: inline-block;
    margin-left: 1rem;
}

.logos-list {
    display: flex;
    list-style: none;
    color: #ffffff;
    margin-top: 2rem;
}

.logos-list .list-items {
    display: inline-block;
    margin-left: 1rem;
}






/* ------------------------------ */
/* ---------RESPONSIVE-USING-MEDIA-QUERIES----------- */
/* ------------------------------ */






   /* ---------LARGER-SCREEN------------ */

@media screen and (max-width: 1300px) {




    /* -------------HEADER-SECTION------------- */

    .header-image img {
        display: inline-block;
        width: 35rem;
    }

    .header-text {
        width: 94%;
        margin-left: 6%;
        margin-top: 4rem;
        padding-bottom: 8rem;
    }
    
    .header-text h2 {
        font-size: 2rem;
        margin-bottom: 1.7rem;
        color:#DFD8FC;
    }
    
    .header-text p {
        font-size: 0.9rem;
        color: #DFD8FC;
        
    }

/* -------------COMPANY-SECTION------------- */

    .companies {
        margin-left: 3%;
    }
    
    .company-items {
        font-family: 'Righteous';
        display: inline-block;
        text-decoration: none;
        color: #000000;
        font-size: 1.3rem;
        margin: 1.2rem;
    }


    /* -------------BLOG_SECTION------------- */

    .blog-bottom {
        position: absolute;
        bottom: -3rem;
    }
    
    .blog-author {
        display: block;
        position: absolute;
        bottom: -2.2rem;
        left: 7rem;
        width: 70%;
    }


    .blog-data {
        padding: 1rem;
        padding-top: 1rem;
        padding-bottom: 0;
        padding-left: 2rem;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
        position: relative;
        height: 100%;
    
    }



/* -------------FAQ-SECTION---------------- */

    .faq-content {
        margin-left: 6%;
        margin-top: 3rem;
        padding-bottom: 2rem; 
        height:100%
    }


}


/* ---------LARGE-SCREEN------------ */

@media screen and (max-width: 1080px) { 

    /* -------------HEADER-SECTION---------------- */

    .header-text {
        width: 94%;
        margin-left: 6%;
        margin-top: 4rem;
        padding-bottom: 3rem;
    }

    .header-image img {
        display: inline-block;
        width: 25rem;
    }

    .header-text h2 {
        font-size: 1.3rem;
        margin-bottom: 1.3rem;
        color:#DFD8FC;
    }

    .header-text p {
        width:40%;
        font-size: 0.9rem;
        color: #DFD8FC;
        
    }
    

    /* -------------COMPANY-SECTION--------------- */

    .companies {
        margin-left: 1%;
    }
    
    .company-items {
        font-family: 'Righteous';
        display: inline-block;
        text-decoration: none;
        color: #000000;
        font-size: 1rem;
        margin: 0.3rem;
    }



    /* ------------API------------- */

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



    /* -------------BLOG-SECTION------------ */

    .blog-cards {
        width: 88%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }



    .blog-heading {
        margin-left: 6%;
        margin-bottom: 2rem;
    }
    
    .blog-heading h1 {
        font-family: 'Righteous';
        
    }
    
    .blog-data {
        padding: 1rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1.2rem;
        padding-left: 2rem;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
        position: relative;
        height: 100%;
    
    }

    .blog-card {
        width:70%;
        margin-bottom: 5rem;
        height: 100%;
    }
    
    .blog-image img {
        display: inline-block;
        width:15rem;
        height: 100%;
    }
    
    .blog-content h6 {
        color: #5E48F6;
    }
    
    .blog-content h3 {
        font-family: 'Righteous';
        font-size: 1.4rem;
        margin: 2rem 0;
    }

    .blog-content {
        padding-bottom: 2.2rem
    }
    
    .blog-bottom {
        position: absolute;
        bottom: -2.7rem;
    }
    
    .blog-author {
        display: block;
        position: absolute;
        font-size: 0.8rem;
        bottom: -2rem;
        left: 6rem;
        width: 50%;
    }

}




/* ---------MEDIUM-SCREEN------------ */

@media screen and (max-width: 740px) { 

    /* -----------HEADER-SECTION-------------- */

    header {
        background-color: #4C47F6;
        color: #ffffff;
        width: 100%;
        overflow: hidden;
    }
    nav {
        display: none;
        float: none;
    }
   
    .header-image {
        position: static;
        right: 0%;
        top: 8%;
    }


    .header-text {
        width: 94%;
        margin-left: 6%;
        margin-top: 4rem;
        padding-bottom: 3rem;
    }

    .header-image img {
        display: inline-block;
        width: 28rem;
    }

    .header-text h2 {
        font-size: 2rem;
        margin-bottom: 1.3rem;
        color:#DFD8FC;
    }

    .header-text p {
        width:100%;
        font-size: 0.9rem;
        color: #DFD8FC;
        
    }




    /* ----------blog-section------------- */

    .blog-card {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        
    }

    .blog-image img {
        display: inline-block;
        width:100%;
        
    }


    .blog-card {
        width:70%;
        margin-bottom: 5rem;
        height: 100%;
    }


    /* ------------FAQ-SECTION----------- */


    .faq-section {
        width: 88%;
        margin: 0 auto;
        display: flex;
        margin-top:4rem;
        flex-direction: column-reverse
    }


    /* ----------------DOWNLOAD-SECTION--------------- */


    .download-section {
        display: flex;
        flex-direction: column;
        width: 88%;
        margin: 4rem auto;
       
    }

    .download-email button {
        display: inline-block;
        padding: 0.5rem 2rem;
        background-color: #5E48F6;
        color: #ffffff;
        border-radius: 2rem;
        border: none;
        margin-top: 1rem;
        margin-left: 2rem;
    }


    .download-email input {
        padding: 0.5rem 1rem;
        padding-right: 3rem;
        border-radius: 1rem;
        border: none;
        background-color: #E9EDFD;
        margin-left: 2rem;
        margin-top: 2rem;
    }


    /* ---------FOOTER-SECTION----------- */

    .footer-section {
        background-color: #5E48F6;
        display: flex;
        flex-direction: column;
    }
    
    .footer-right {
        margin-right: 6%;
        margin-bottom: 2rem;
        padding-left: 2rem;
        display: flex;
        justify-content: space-between;
    }


    .footer-logos {
        margin-top: 2rem;
    }

    .footer-logo {
        display: inline-block;
        margin-left: 0.5rem;
    }
}